@charset 'UTF-8';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700|Open+Sans:300,400,600,700|Roboto+Mono');


// Bootstrap & Variables
@import "../../node_modules/bootstrap/scss/functions";
@import "variables";
@import "variables-custom";
@import "../../node_modules/bootstrap/scss/bootstrap";


// Components
@import "layout/_layout";
@import "components/_components";


.opacity-6 {
	opacity: .6;
}
.opacity-7 {
	opacity: .7;
}
.opacity-8 {
	opacity: .8;
}
